// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5rem;
	margin: auto;
	padding-bottom: 200px;
	width: 500px;
}

.appointment {
	border-bottom: solid 1px #ccc;
	padding-top: 10px;
}

.appointment-title {
	border: 0;
	border-bottom: solid 1px #ccc;
	margin-bottom: 8px;
	padding: 8px;
	width: 100%;
}

.submit-button {
	background: #cc0000;
	border: 0;
	border-radius: 0px;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	padding: 10px;
}